* {
    color: white;
}

body {
    background-color: #1e1e1e;
}

.header {
    display: flex;
    gap: 30px;
}

.avatar {
    background-color: #b3b3b3;
    width: 200px;
    height: 200px;
    margin-top: 100px;
    margin-left: 100px;
    border-radius: 50%;
    position: relative;
    display: flex;
}

.avatar img {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text {
    margin-top: 130px;
}

.name {
    margin: 0px;
}

.sign {
    font-style: italic;
    margin: 5px 0px 0px;
}

.mail {
    margin: 10px 0px 12px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.mail-icon {
    flex-shrink: 0;
}

.mail-address {
    margin: 0px;
}

.tag {
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
}

.details {
    margin: 50px 100px;
}

.detail-text p {
    margin: 0px 5px;
}