* {
    color: white;
}

body {
    background-color: #1e1e1e;
}

.avatar {
    background-color: #b3b3b3;
    width: 200px;
    height: 200px;
    margin-top: 100px;
    margin-left: 100px;
    border-radius: 50%;
    position: relative;
}

.avatar img {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#name {
    color: white;
}